h1{
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  color: #e5e6e5;
  margin-top: 10px;
}

h2{
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 2  0px;
  color: #e5e6e5

}

p {
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #e5e6e5;
}

strong{
  font-family: "Poppins", serif;
}





