html, body, #root {
  height: 100%;
  width: 100%;   
  margin: 0;
  padding: 0;
}

#root {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 900px;
  max-width: 2000px;
  height: 100%;
  width: 100%; 
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  
}