.navigation{
    display: flex;
    background-color: #72ab49;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: 650px;
    border-radius: 10px;
    
}
    
.elements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
    

}
    
.navigation a{
    color: white;
    text-decoration: none;
    padding: 20px;
    
}